
{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation in HTML | CodingNepal</title>

    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'calcApp/style.css' %} ">
  </head>
  <body>
    <div class="container">
<div class="left-side">
    <form method='POST' >
        {% csrf_token %}
      <h2>Form Validation</h2>
      <div class="form-group fullname">
        <label for="fullname">Brand</label>
        {{form.brand}}
        
      </div>
      <div class="form-group email">
        <label for="email">Models</label>
        {{form.model}}
      <div class="form-group password">
        <label for="password">Vehicle_Class</label>
        {{form.Vehicle_Class}}
        <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
      </div>
      <div class="form-group password">
        <label for="password">Engine Size</label>
        {{form.Engine_Size}}
        <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
      </div>
      <div class="form-group password">
        <label for="password">Cylinder</label>
        {{form.Cylinder}}
        <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
      </div>
      <div class="form-group password">
        <label for="password">Transmission</label>
        {{form.Transmission}}
        <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
      </div>
      <div class="form-group password">
        <label for="password">Fuel_Type</label>
        {{form.Fuel_Type}}
        <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
      </div>
      <div class="form-group password">
        <label for="password">Fuel Consumption</label>
        {{form.Fuel_Consumption}}
        <i id="pass-toggle-btn" class="fa-solid fa-eye"></i>
      </div>
      
      
     
      <div class="form-group submit-btn">
        <input type="submit" value="Submit">
      </div>
    </form>
</div>
    
</div>

   
  </body>
</html>